.container {
    display: grid;

    grid-template-areas: 
    "header header"
    "sidebar dashboard";

    grid-template-columns: 25% 1fr;
    grid-template-rows: 80px 1fr;

    margin: 0;
    height: 70vh;
    grid-gap: 2vw;
}



/* @media all and (max-width: 575px) {

    .container {
        display: grid;

        grid-template-areas: 
        "header"
        "";
    }
} */