.draft {
    margin-top: 20px;
    /* border: 2px solid black; */
    background-color: rgba(100, 102, 202, 0.6);

}

.draftList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px
}

.label {
    font-size: 35px;
    font-family: system-ui;
    font-weight: 300;
    padding-bottom: 10px;
}
